.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(232, 230, 230);
    min-height: 90vh;
    background-color: white;

    .top{
        padding: 5% ;
        .logo{
            font-size: 1.7rem;
            font-weight: bold;
            
        }
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(232, 230, 230);
    }
    .center{
        padding-left: 5%;
        ul{
            list-style: none;
            padding: 0;
            .title{
                font-size: 0.7rem;
                font-weight: bold;
                color: gray;
                margin: 20px 0 5px 0;
            }
            li{
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 2px;
                &:hover{
                    background-color: lightgray;
                }
                .icon{
                    font-size: 0.9rem;
                    color: black;

                }
                span{
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    margin-left: 10px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
        margin: 10px;
        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2){
            background-color: black;
        }
    }
}