.home{
    display: flex;
    padding: 2%;
    .homeContainer{
        flex: 6;
        .widgets, .charts{
            display: flex;
            padding: 2%;
            gap: 20px;
        }
        .charts{
            padding-top: 10px;
            
        }
        .listContainer{
            padding: 20px;
            box-shadow: -5px 8px 20px -12px rgba(0,0,0,0.6);
            -webkit-box-shadow: -5px 8px 20px -12px rgba(0,0,0,0.6);
            -moz-box-shadow: -5px 8px 20px -12px rgba(0,0,0,0.6);
            margin: 20px;
            .listTitle{
                font-weight: bold;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}